header h1{
    border: 100px 60px 100px 60px;
    background-color: black;
    color: white;
    text-align: center;
}

.body {
    padding: 0 200px 0 200px;
}

.main-bio p {
    text-align: center;
    float: right;
    position: absolute;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main-bio img {
    float: left;
}

.main-bio p {
    width: 70%;
  }
  
.contact-info {
    width: 30%;
    float: right;
  }
  
.main-bio image {
    width: 200px;
    height: 200px;
    margin-right: 20px;
  }
  